# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* Be able to title with different types of headings
* List common languages used in data science
* List common libraries used in data science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. Scikit-Learn

|Data Science Tools|
|---|
|SAS|
|Anaconda|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [39]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Author

Nischae Tiwari